<body>
  You've successfully created your new account.

  Click the link below to set your unique password.

  <%= link_to "Set Password", edit_password_reset_url(@user.password_reset_token), {:style=> ""}%>
</body>
